

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body *{
	font-family: Georgia, serif;
}
h1{
	font-size: 80px;
}
a {
	color: #000;
}
p{
	font-size: 20px;
}
.header{
	padding: 20px 0 40px;
}
img {
	width: 100%;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}














