

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

img {
	width: 100%;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}














